src/main/resources/wsdl/fdms.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns='http://schemas.xmlsoap.org/wsdl/' name='AxessInterface' xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/' xmlns:xsd='http://www.w3.org/2001/XMLSchema' targetNamespace='urn:AxessInterface' xmlns:typens='urn:AxessInterface'>
  <wsdl:types>
    <xsd:schema targetNamespace='urn:AxessInterface' elementFormDefault='qualified'>
      <xsd:complexType name='KeyValueStruct'>
        <xsd:sequence>
          <xsd:element type='xsd:string' name='key'/>
          <xsd:element type='xsd:anyType' name='value'/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name='ChangePasswordByLoginResultStruct'>
        <xsd:sequence>
          <xsd:element name='Code'>
            <xsd:simpleType>
              <xsd:restriction base='xsd:int'>
                <xsd:enumeration value='200'/>
                <xsd:enumeration value='204'/>
                <xsd:enumeration value='500'/>
                <xsd:enumeration value='505'/>
                <xsd:enumeration value='507'/>
                <xsd:enumeration value='508'/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element type='xsd:string' name='Message'/>
          <xsd:element type='xsd:string' name='Result'/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name='StartCPETaskResultStruct'>
        <xsd:sequence>
          <xsd:element name='Code'>
            <xsd:simpleType>
              <xsd:restriction base='xsd:int'>
                <xsd:enumeration value='200'/>
                <xsd:enumeration value='204'/>
                <xsd:enumeration value='400'/>
                <xsd:enumeration value='500'/>
                <xsd:enumeration value='505'/>
                <xsd:enumeration value='507'/>
                <xsd:enumeration value='508'/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element type='xsd:string' name='Message'/>
          <xsd:element type='xsd:int' name='TaskId' minOccurs='0'/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name='StartChangePasswordByLogin'>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element type='xsd:string' name='Login'/>
            <xsd:element type='xsd:string' name='Password'/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='StartChangePasswordByLoginResponse'>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element type='typens:StartCPETaskResultStruct' name='Result'/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='ChangePasswordByLoginResult'>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element type='xsd:int' name='TaskId'/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='ChangePasswordByLoginResultResponse'>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element type='typens:ChangePasswordByLoginResultStruct' name='Result'/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name='StartChangePasswordByLoginMessage'>
    <wsdl:part name='body' element='typens:StartChangePasswordByLogin'/>
  </wsdl:message>
  <wsdl:message name='StartChangePasswordByLoginResponseMessage'>
    <wsdl:part name='body' element='typens:StartChangePasswordByLoginResponse'/>
  </wsdl:message>
  <wsdl:message name='ChangePasswordByLoginResultMessage'>
    <wsdl:part name='body' element='typens:ChangePasswordByLoginResult'/>
  </wsdl:message>
  <wsdl:message name='ChangePasswordByLoginResultResponseMessage'>
    <wsdl:part name='body' element='typens:ChangePasswordByLoginResultResponse'/>
  </wsdl:message>
  <wsdl:portType name='axessPortType'>
    <wsdl:operation name='StartChangePasswordByLogin'>
      <wsdl:input message='typens:StartChangePasswordByLoginMessage'/>
      <wsdl:output message='typens:StartChangePasswordByLoginResponseMessage'/>
    </wsdl:operation>
    <wsdl:operation name='ChangePasswordByLoginResult'>
      <wsdl:input message='typens:ChangePasswordByLoginResultMessage'/>
      <wsdl:output message='typens:ChangePasswordByLoginResultResponseMessage'/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding type='typens:axessPortType' name='axessSOAP11Binding'>
    <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
    <wsdl:operation name='StartChangePasswordByLogin'>
      <soap:operation soapAction='urn:StartChangePasswordByLogin' style='document'/>
      <wsdl:input>
        <soap:body use='literal'/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use='literal'/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name='ChangePasswordByLoginResult'>
      <soap:operation soapAction='urn:ChangePasswordByLoginResult' style='document'/>
      <wsdl:input>
        <soap:body use='literal'/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use='literal'/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name='axess'>
    <wsdl:port binding='typens:axessSOAP11Binding' name='axessSOAP11Port'>
      <soap:address location='http://172.28.27.5:9676/live/CPEManager/IntegrationInterfaces/SelfCare/document_literal/SOAP'/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
